@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

* {
	margin:0;
	padding:0;
}

div#container{ 
    padding:30px;
	margin: auto;
	width:960px;
	border:3px solid #eee;
}

.upload_btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 150px;
    background-color:#f9f9f9;
    padding:10px;
}
.upload_input{
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 20px;
    color: #777;
    cursor: pointer;
    background-color:#f9f9f9;
    display:block;
}
.btn:hover{
    background-color:#ddd;
}
