@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

	* {
		margin:0;
		padding:0;
	}
	
	header {
	    background-image:url('../image/header-bg.jpg');
		height:70px;
	}
	
	#lgo {
	    padding-top:15px;
	    float:left;
	    color:#fff;
	    font-family:"Ubuntu";
	    text-decoration: none;
	}
	
	#lgoCmt {
	    border-left:1px solid #D9D9D9;
	    font-size: 14px;
        margin: 8px 10px 0 16px;
        padding: 4px 0 6px 14px;
	}
	
	#nav {
	    margin:auto;
    	width:960px;
	}
	
	div#container{ 
		margin: auto;
		padding:5px;
		width:960px;
	}
	
	div#left_con {
		margin-top:1%;
		float:left;
		height:1200px;
		width:700px;
		background:none repeat scroll 0 0 #F1F1F1;
		
	}
	
	div#right_con {
		margin-top:1%;
		float:right;
		height:500px;
		width:220px;
		background-color:#ccc;
		overflow:hidden;
	}
/*--------------------------------------------------------------------------------*/
	#nav ul{
		height:40px;
	}
	#nav li {
		float: left;
		display:inline-block;
	}
	#nav a:link,#nav a:visited {
		color: #fff;
		display: block;
		float: left;
		font-weight: bold;
		padding: 10px 54px;
		text-decoration: none;
	}
	#nav a:hover, a:active {
		
	}
/*--------------------------------------------------------------------------------*/
	#movCon{
		vertical-align: middle;
		display: table;
		align:center;
		height:305px;width:100%;
		overflow: hidden;
		position: relative;
	}
	#mov{
		text-align:center;
		height:100%;
		width:400%;
		color:white;
		background-color:#1E90FF;
		display: table;
		transition:margin-left 1s;
	}
	#mv:link,#mv:visited{
		display:inline;
		width:10%;
		height:100%;
		display: table-cell;
		text-align:center;
		vertical-align: middle;
		color: white;
		
		font-weight: bold;
		color: #FFFFFF;
		width: 120px;
		text-align: center;
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}
	h{
		font-size:70px;
		font-weight:bold; 
	}
	
	#btnhover {
		background-color:#000000;
		opacity:0.7;
		height: 20px;
		width: 695px;
		text-align:right;
		position: absolute;
		right:0;
		bottom: 0;
		padding-right:5px;
		
	}
	
	#btnhover span{
	    background: none repeat scroll 0 0 #fff;
		cursor: pointer;
		display: inline-block;
		height: 10px;
		width: 25px;
		opacity:0.4;
	}
	#leftmove {
		left:0;
	}
	#rightmove {
		right:0
	}
	#leftmove,#rightmove {
		background-color: #000;
		color: #fff;
		font-size: 75px;
		opacity: 0.4;
		padding: 5px;
		position: absolute;
		text-align: center;
		top: 100px;
		cursor:pointer;
	}
	#leftmove:hover,#rightmove:hover {
		opacity:0.6;
	}
	

	
/*--------------------------------------------------------------------------------*/
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* iPhone, Android rules here */
	
		div#top,div#nav,div#container,header {
			width: auto; 
			max-width:480px;
		}
		
		#nav a:link, a:visited {
			padding: 7px 15px;
		}
		
		div#left_con {
			width:95%;
			margin:auto;
			float:none;
		}
		div#right_con {
			visibility:hidden;
		}
		#movContainer {
			height:20%;
			width:40%;
			margin:auto;
		}
	}
