    .menu-toggle{
        background-color: #000;
        display: block;
        padding: 5px;
        float: right;
        width: 35px;
        cursor:pointer;
        border-radius:5px;
        margin-top:20px;
        margin-right:-70px;
    }
    .menu-toggle img{
        display:block;
        height:35px;
        border:none;
    }
	header {
	    transition: margin-left 0.35s ease 0s;
        position:fixed;
        float: left;
        height: 100%;
        margin: auto;
        width: 300px;
        z-index:1;
        margin-left:-300px;
	}
	
	.navbar_pop{
        height:50px;
        width:50px;
        background-color:#000;
        color:#fff;
        text-align:center;
        float:right;
	}
	
	#lgo {
        padding-top:15px;
        float:left;
        color:#fff;
        font-family:"Ubuntu";
        text-decoration: none;
        background-color: #333;
        border-bottom: 3px solid #42b17e;
        padding: 20px 20px 30px 30px;
        width: 250px;
	}
	
	#lgo a{
	    
	}
	
	#lgoCmt {
        border-left:1px solid #D9D9D9;
        font-size: 14px;
        margin: 8px 10px 0 16px;
        padding: 4px 0 6px 14px;
	}
	
	#nav {
        background-color: #4d4d4d;
        float: left;
        height: 100%;
        margin: auto;
        width: 300px;
	}
	
	#navul{
        float: left;
        margin-top: 20px;
        height:calc(100% - 140px);
	}
	#navul li {
        display: block;
        float: left;
	}
	#navul li:hover{
	    
	}
	
	#navul a{
        padding: 15px 0 15px 30px;
        width: 270px;
        cursor:pointer;
	}
	
	#nav a:link, #nav a:visited {
        color: #fff;
        display: block;
        float: left;
        font-weight: bold;
        text-decoration: none;
	}
	#navul a:hover,#navul a:active {
		background-color:#444;
	}
	
	.navbottom {
        background-color: #333;
        color: #fff;
        display: block;
        float: left;
        width: 300px;
        position:relative;
    }
    .navbottom .navuser{
        cursor:pointer;
        float:left;
        padding:15px 20px;
    }
    .navuser img{
        border:none;
        border-radius:5px;
    }
    .navuser .username{
        text-overflow: ellipsis; 
        overflow: hidden; 
        max-width: 150px; 
        display: inline-block;
    }
    .navbottom .navblock{
        position:absolute;
        top:0;
        cursor: pointer;
        padding: 15px;
    }
    .navbottom .shownotif{
        right:0;
    }
    .navbottom .navblock:hover, .navbottom .navblock:active{
        background-color: #222;
    }
    .navbottom .notifications_count{
        background-color: #444;
        border-radius: 5px;
        color: #aaa;
        display: inline-block;
        font-size: 15px;
        height: 20px;
        text-align: center;
        width: 20px;
    }

    .notificationcontent{
        background-color: #3c3c3c;
        bottom: 0;
        color: #fff;
        position: absolute;
        right: -200px;
        overflow-y: scroll;
        width:200px;
        height:200px;
        display:none;
    }
    
    .notificationcontent .notif_block{
        display: block;
        background-color: #222;
        float: left;
        padding: 2px 10px;
        text-align: center;
        cursor: pointer;
        border-bottom:1px solid #333;
    }
    .notificationcontent .notif_block:hover{
        background-color:#101010;
    }
    .notif_block .notif_message{
        color:#3C6C3C;
        font-size:14px;
    }
    .notif_block .notif_time{
        float:right;
        font-size:11px;
        color:#6a6a6a;
    }
