* {
	margin:0;
	padding:0;
}

html {
    min-height:120%;
}

div#container {
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
	padding: 10px;
}

div#left_con {
	float:left;
	width:700px;
	background-color: #F1F1F1;
	padding:15px;
}

div#right_con {
	float:right;
	width:220px;
	overflow:hidden;
}

.anonymousbutton{
    border: 0 none;
	border-radius: 2px;
	line-height: 20px;
	text-align:center;
	width: 100px;
	margin-bottom:5px;
}

#Postbox {
	margin:auto;
	width:100%;
}

#Postbox p {
	background-color:#FFF;
	border: 1px solid #ccc;
    border-radius: 5px;
	width: 325px;
	margin-bottom:0;
}
	
#Postbox p:hover {
	border-color: #bbb;
	box-shadow: 0 0 4px #ddd;
	color: #222;
}

#Postbox p:hover label, p.on label {
	border-color: #bbb;
	text-shadow: 0 0 4px #ddd;
	color: #222;
}

#Postbox label {
	color:#4D4D4D;
	border-right: 1px solid #ccc;
	line-height: 30px;
	padding: 4px;
	text-align: center;
	width: 62px;
	font-size:small;
}
	#Postbox input {
	border: 0 none;
	border-radius: 2px;
	line-height: 20px;
	padding: 4px;
	width: 240px;
}

#Postbox #nameInput {
	
}

#Postbox #textInput {
	border: 1px solid #ccc;
	height: 125px;
	width: 100%;
}
	
#Postbox #buttonSubmit {
	background-color: #42b17e;
	color: #ffffff;
	font-size: small;
	height:50px;
	text-transform: uppercase;
	cursor:pointer;
	margin-top:20px;
}

div#PostList {
	margin-top: 60px;
}

.cmt, #loadstatus{
	box-shadow: 0 0 10px #ddd;
	border: 1px dotted #ddd;
    background-color: #FFFFFF;
    margin-bottom:10px;
	padding:10px;
	clear:both;
}
	
.clear {
    clear:both;
}

.reply {
    clear:both;
	background-color:#FBFBFB;
	border :1px dotted #ddd;
	border-left:5px solid #ddd;
	margin: -10px -10px 0 45px;
	padding: 1px;
	padding-right:10px;
}

#cmtauthor{
	margin-bottom:10px;
	border-bottom:1px solid #8BC7FF;
}

#text{	
	color: #4D4D4D;
	line-height: 20px;
	margin: 10px 0 20px 20px;
	max-height:100px;
	overflow:hidden;
	word-wrap: break-word;
}

#ReplyList {
    display:none;
}

#user {
    text-decoration:none;
	font-weight:bold;
	color: #3B3B3B;
	font-style: normal;
	left:0;
	cursor:pointer;
}

#user:hover {
    text-decoration:underline;
}

a#plused {
    color:green;
    font-size:small;
    float:left;
    margin-right:20px;
    font-weight:bold;
}
a#report {
    color:#ccc;
    font-size:small;
    font-weight:lighter;
    float:right;
    padding:0;
    padding-left:4px;
    cursor:pointer;
}
#report:hover {
    color:red;
}

date {
	font-size:12px;
	color: #676767;
	float:right;
}

#postimg {
    max-width:100%;
    max-height:200px;
    margin-bottom:5px;
    clear:both;
    cursor:pointer;
}

a#reply, a#plus1 {
	float:left;
	background-color:#DCDCDC;
	border:2px solid #ccc;
	padding:2px;
	color: #676767;
	font-size: small;
	height:25px;
	width:50px;
	cursor:pointer;
	margin-right:2px;
	margin-bottom:5px;
	text-align:center;
}
a#plus1:before {content:"+1";}
a#plus1:focus:active:target{
    background-color:#ccc;
    padding:3px;
}
